{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 8 }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 8 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["chrome >= 61"]
          }
        }]
        // disable async/await transpilation for better debugging
        // (babel doesn't support disabling plugins in presets,
        // so disable preset and enable needed plugins)
        // "stage-0"
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
